/* start header */
header{
    background-color:#444;
    padding: 0 10px;
}
header .container{
    display: flex;
    padding:5px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
header .container h1{
    color:gold;
}
/* navbar */
ul{
display: flex;
align-items: center;
justify-content: center;
}
li,li .go_home{
list-style: none;
margin-left:20px;
font-size: 20px;
text-decoration: none;
text-transform:capitalize;
color: white;
transition: 0.3s linear;
cursor: pointer;
}
li:hover , li .go_home:hover{
color:gold;
}


/* end header */
